@using mvc_proje.Database.Entities
@model mvc_proje.Models.FeatureIndexViewModel

@{
  Layout = "_AdminLayout";
}

<!--end::App Content Header-->
<!--begin::App Content-->
<div class="app-content">
  <!--begin::Container-->
  <div class="container-fluid">
    <!--begin::Row--> 
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-8">
          <!-- /.card-header -->
          <div class="card-body">
            <form method="post" asp-action="Create" asp-controller="Feature" asp-antiforgery="true">
              <!--begin::Body-->
              <div class="card-body">
                <div class="mb-3">
                  <label for="title" class="form-label">Başlık</label>
                  <input
                    type="text"
                    name="title"
                    class="form-control"
                    id="title"/>
                </div>

                <div class="mb-3">
                  <label for="description" class="form-label">Açıklama</label>
                  <input
                    type="text"
                    class="form-control"
                    id="description"
                    name="description"/>
                </div>
                
                <div class="mb-3">
                  <label for="icon" class="form-label">Icon Class'ı</label>
                  <input
                    type="text"
                    name="icon"
                    class="form-control"
                    id="icon"/>
                </div>
                
                <div class="mb-3">
                  <label for="link" class="form-label">Buton Linki</label>
                  <input
                    type="text"
                    name="Link"
                    class="form-control"
                    id="link"/>
                </div>
              </div>
              <!--end::Body-->
              <!--begin::Footer-->
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Gönder</button>
              </div>
              <!--end::Footer-->
            </form>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
      
      <div class="col-md-8">
        <div class="card mb-8">
          <!-- /.card-header -->
          <div class="card-body">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th style="width: 10px">#</th>
                <th>Başlık</th>
                <th style="width: 80px">İşlemler</th>
              </tr>
              </thead>
              <tbody>

              @foreach (var feature in Model.Features)
              {
                <tr class="align-middle">
                  <td>@feature.Id</td>
                  <td>@feature.Title</td>
                  <td>
                    <p class="d-inline-flex gap-1">
                      <a type="submit" asp-controller="Feature" asp-action="Edit" asp-route-id="@feature.Id" class="btn btn-sm btn-primary">Düzenle</a>
                      <a type="submit" asp-controller="Feature" asp-action="Delete" asp-route-id="@feature.Id" class="btn btn-sm btn-danger">Sil</a>
                    </p>
                  </td>
                </tr>
              }
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
          <div class="card-footer clearfix">
            <ul class="pagination pagination-sm m-0 float-end">
              <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--end::Row-->
  </div>
  <!--end::Container-->
</div>