@model AboutUsViewModel

@{
  Layout = "_AdminLayout";
}

<!--end::App Content Header-->
<!--begin::App Content-->
<div class="app-content">
  <!--begin::Container-->
  <div class="container-fluid">
    <!--begin::Row-->
    <div class="row">
      <div class="col-md-12">
        <div class="card mb-8">
          <!-- /.card-header -->
          <div class="card-body">
            <form method="post" asp-action="Update" asp-controller="AboutUs" asp-antiforgery="true">
              <!--begin::Body-->
              <div class="card-body">
                <div class="mb-3">
                  <label for="MainTitle" class="form-label">Ana Başlık</label>
                  <input
                    type="text"
                    asp-for="MainTitle"
                    class="form-control"
                    id="MainTitle"/>
                </div>

                <div class="mb-3">
                  <label for="MainDescription" class="form-label">Ana Açıklama</label>
                  <input
                    type="text"
                    class="form-control"
                    id="MainDescription"
                    asp-for="MainDescription"/>
                </div>

                <div class="mb-3">
                  <label for="Elements1" class="form-label">Madde 1</label>
                  <input
                    type="text"
                    asp-for="Elements1"
                    class="form-control"
                    id="Elements1"/>
                </div>

                <div class="mb-3">
                  <label for="Elements2" class="form-label">Madde 2</label>
                  <input
                    type="text"
                    asp-for="Elements2"
                    class="form-control"
                    id="Elements2"/>
                </div>

                <div class="mb-3">
                  <label for="Elements3" class="form-label">Madde 3</label>
                  <input
                    type="text"
                    asp-for="Elements3"
                    class="form-control"
                    id="Elements3"/>
                </div>

                <div class="mb-3">
                  <label for="ReadMoreLink" class="form-label">Daha Fazla Oku URL'si</label>
                  <input
                    type="text"
                    asp-for="ReadMoreLink"
                    class="form-control"
                    id="ReadMoreLink"/>
                </div>

                <div class="mb-3">
                  <label for="Subtitle" class="form-label">Alt Başlık</label>
                  <input
                    type="text"
                    asp-for="Subtitle"
                    class="form-control"
                    id="Subtitle"/>
                </div>

                <div class="mb-3">
                  <label for="SubtitleDescription" class="form-label">Alt Başlık Açıklaması</label>
                  <input
                    type="text"
                    class="form-control"
                    id="SubtitleDescription"
                    asp-for="SubtitleDescription"/>
                </div>

                <div class="mb-3">
                  <label for="SubtitleLink" class="form-label">Alt Başlık URL'si</label>
                  <input
                    type="text"
                    asp-for="SubtitleLink"
                    class="form-control"
                    id="SubtitleLink"/>
                </div>
              </div>
              <!--end::Body-->
              <!--begin::Footer-->
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Gönder</button>
              </div>
              <!--end::Footer-->
            </form>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
    </div>
    <!--end::Row-->
  </div>
  <!--end::Container-->
</div>