@using mvc_proje.Database.Entities
@{
  Layout = "_AdminLayout";
}

<!--end::App Content Header-->
<!--begin::App Content-->
<div class="app-content">
  <!--begin::Container-->
  <div class="container-fluid">
    <!--begin::Row-->
    <div class="row">
      <div class="col-md-12">
        <div class="card mb-8">
          <div class="card card-primary card-outline mb-4">
            <!--begin::Form-->
            <form method="post" asp-action="Create" asp-controller="Product" asp-antiforgery="true">
              <!--begin::Body-->
              <div class="card-body">
                <div class="mb-3">
                  <label for="name" class="form-label">İsim</label>
                  <input
                    type="text"
                    name="name"
                    class="form-control"
                    id="name"/>
                </div>

                <div class="mb-3">
                  <label for="description" class="form-label">Açıklama</label>
                  <textarea class="form-control" name="description" id="description"></textarea>
                </div>

                <div class="row mb-3">
                  <div class="col-6">
                    <label for="price" class="form-label">Fiyat</label>
                    <input type="text" class="form-control" name="price" id="price"/>
                  </div>
                  <div class="col-6">
                    <label for="stock" class="form-label">Stok</label>
                    <input type="text" class="form-control" name="stock" id="stock"/>
                  </div>
                </div>

                <div class="mb-3">
                  <label for="CategoryId" class="form-label">Kategory</label>
                  <select class="form-select" name="CategoryId" id="CategoryId" aria-label="Default select example">
                    @foreach (var category in ViewData["categories"] as List<Category>)
                    {
                      <option value="@category.Id">@category.Name</option>
                    }
                  </select>
                </div>
              </div>
              <!--end::Body-->
              <!--begin::Footer-->
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Gönder</button>
              </div>
              <!--end::Footer-->
            </form>
            <!--end::Form-->
          </div>
        </div>
      </div>
    </div>
    <!--end::Row-->
  </div>
  <!--end::Container-->
</div>